$navbar-border-color: #ccc;
$corporate-color: #0068b7;
$grid-float-breakpoint: 768px;

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);
}

html, body {
  font-family: Avenir, "Helvetica neue", "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  width: 100%;
  height: 100%;
}

h1 > small {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2 {
  font-size: 2.6rem;
  font-weight: bold;
  border-bottom: 1px solid $navbar-border-color;
  margin-top: 10rem;
  margin-bottom: 4rem;
  padding-bottom: 4px;
}

h3 {
  color: $corporate-color;
  font-size: 2.2rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 1.6rem;
  line-height: 3rem;
}

header {
  background-image: url(image-path("/images/top.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 185px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 40px;
  margin-bottom: 0;

  @media (max-width: 900px) {
    background-size: cover;
  }
  @media (min-width: 901px) {
    background-size: cover;
  }

  h1 {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 10px 10px;
  }
}

.right-arrow {
  position: relative;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  @media (max-width: 1199px) {
    border-top-color: $corporate-color;
  }
  @media (min-width: 1200px) {
    border-left-color: $corporate-color;
  }
}

.right-arrow:after {
  position: absolute;
  content: '';
  @media (max-width: 1199px) {
    top: -32px;
    left: -8px;
  }
  @media (min-width: 1200px) {
    top: -8px;
    left: -32px;
  }
  width: 16px;
  height: 16px;
  background: $corporate-color;
}

#navigation {
  width: 100%;
  z-index: 900;
  background-color: rgba(255, 255, 255, 0.9);

  a {
    color: #333;
  }

  .nav-bar {
    @media (min-width: $grid-float-breakpoint) {
      width: 910px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .navbar-brand {
    padding: 12px 30px 12px 0;

    img {
      height: 30px;
      @media (max-width: $grid-float-breakpoint - 1) {
        margin-left: 10px;
        margin-top: -2px;
      }
    }
  }
  .navbar-default {
    background: none;

    .navbar-nav {
      margin-top: 8px;
      margin-bottom: 8px;

      &:first-child {
        border-left: 1px solid $navbar-border-color;
      }
      li {
        border-right: 1px solid $navbar-border-color;

        a {
          height: 40px;
          padding: 10px 20px;
        }
      }
    }
  }
}

#description {
  h2 {
    font-size: 3.2rem;
    text-align: center;
    border: none;
  }
}

#company-guide {
  img, p {
    margin-bottom: 4rem;
  }

  // navbar-collapseが隠れてしまうのを回避
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    z-index: -1;
  }
}

#intern-program {
  figure {
    margin-bottom: 4rem;

    img {
      border-radius: 0;
    }

    @media (min-width: 992px) {
      .with-arrow::after {
        position: absolute;
        top: 90px;
        left: -7px;
        content: "▶";
        color: $corporate-color;
      }
    }

    figcaption {
      h3 {
        color: $corporate-color;
        font-size: 1.6rem;
        margin: 10px 0;
      }
      p {
        margin: 0;
      }
    }
  }
}

#detail {
  h3 {
    font-size: 2rem;
  }

  ul {
    font-size: 1.6rem;
    padding-left: 2rem;
  }

  ul.notice {
    li {
      list-style-type: none;
      text-indent: -1rem;

      &:before {
        display: inline;
        content: "※ "
      }
    }
  }

  .contents {
    .row {
      margin-bottom: 4rem;
    }
  }
}

#schedule-list {
  font-size: 1.6rem;

  dt {
    font-weight: normal;
    width: 5rem;
  }
  dd {
    margin-left: 6rem;
  }
}

#how-to-apply {
  .circle {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid $corporate-color;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

    h3 {
      display: table-cell;
      width: 192px;
      height: 192px;
      text-align: center;
      vertical-align: middle;
      color: $corporate-color;
      font-size: 18px;
      font-weight: bold;
    }

    &.inverse {
      background-color: $corporate-color;
      border: 4px solid white;

      h3 {
        color: white;
      }
    }
  }

  .right-arrow {
    margin: 80px auto;
  }
}
