$navbar-border-color: #ccc;
$corporate-color: #0068b7;
$header-navbar-height: 75px;

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);
}

html, body {
  font-family: Avenir, "Helvetica neue", "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  width: 100%;
  height: 100%;
}

h1 > small {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  color: $corporate-color;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 1.6rem;
  line-height: 3rem;
}

header {
  background-image: url(image-path("/images/top.jpg"));
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 185px;
  margin-top: $header-navbar-height;
  margin-bottom: 10px;

  @media (max-width: 900px) {
    background-size: cover;
  }
  @media (min-width: 901px) {
    background-size: contain;
  }

  h1 {
    margin: 0;
    background-color: rgba(256, 256, 256, 0.7);
    padding: 30px 10px 10px;
  }

  .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: $header-navbar-height;
    border-top: 3px solid $corporate-color;
    padding-top: 15px;
    padding-left: 22px;
  }
}

.row, .row-fluid {
  margin-bottom: 40px;
}

.right-arrow {
  position: relative;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: $corporate-color;
}

.right-arrow:after {
  position: absolute;
  content: '';
  top: -8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background: $corporate-color;
}

#navigation {
  width: 100%;
  background-color: white;
  z-index: 900;

  a {
    color: #333;
  }

  .navbar-default {
    background-color: white;
    border-bottom: 1px solid $navbar-border-color;
  }

  @media (min-width: 768px) {
    .nav-bar {
      .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: middle;
      }
      .navbar-collapse {
        text-align: center;
      }
    }
  }
}

#company-guide {
  // navbar-collapseが隠れてしまうのを回避
  .col-lg-8, .col-md-6 {
    z-index: -1;
  }
}

#intern-program {
  figure {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  figcaption {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $corporate-color;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 1.4rem;
    padding: 8px 16px;
    margin: 0;
    width: 100%;
    max-width: 480px;
    @include opacity(0.9);
  }
  p {
    margin: 20px 0;
  }
}

#detail {
  h3 {
    text-align: center;
  }


}

#how-to-apply {
  .circle {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid $corporate-color;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

    h3 {
      display: table-cell;
      width: 192px;
      height: 192px;
      text-align: center;
      vertical-align: middle;
      color: $corporate-color;
      font-size: 18px;
      font-weight: bold;
      small {
        color: $corporate-color;
        display: block;
        font-weight: normal;
      }
    }

    &.inverse {
      background-color: $corporate-color;
      border: 4px solid white;

      h3 {
        color: white;
      }
    }
  }

  .right-arrow {
    margin: 80px auto;
  }
}

