@charset "UTF-8";
/* line 10, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
html, body {
  font-family: Avenir, "Helvetica neue", "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  width: 100%;
  height: 100%; }

/* line 16, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
h1 > small {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px; }

/* line 22, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
h2 {
  margin-top: 60px;
  margin-bottom: 20px; }

/* line 27, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
h3 {
  color: #0068b7;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 20px; }

/* line 34, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
p {
  color: #666;
  font-size: 1.6rem;
  line-height: 3rem; }

/* line 40, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
header {
  background-image: url("../images/top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 185px;
  margin-bottom: 10px; }
  @media (max-width: 900px) {
    /* line 40, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    header {
      background-size: cover; } }
  @media (min-width: 901px) {
    /* line 40, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    header {
      background-size: contain; } }
  /* line 54, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  header h1 {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 10px 10px; }

/* line 61, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
.row, .row-fluid {
  margin-bottom: 40px; }

/* line 65, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
.right-arrow {
  position: relative;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: #0068b7; }

/* line 73, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
.right-arrow:after {
  position: absolute;
  content: '';
  top: -8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background: #0068b7; }

/* line 83, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#navigation {
  width: 100%;
  background-color: white;
  z-index: 900; }
  /* line 88, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #navigation a {
    color: #333; }
  /* line 91, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #navigation .navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #ccc; }
  /* line 96, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #navigation .navbar-brand img {
    margin-top: -5px;
    height: 30px;
    width: 127px; }
  @media (min-width: 768px) {
    /* line 103, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    #navigation .container-fluid {
      width: 830px; } }

/* line 110, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#intern-program figure {
  position: relative;
  overflow: hidden; }
/* line 114, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#intern-program figcaption {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0068b7;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 2rem;
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  opacity: 0.9;
  filter: alpha(opacity=90); }
/* line 129, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#intern-program p {
  margin: 20px 0; }

/* line 135, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#detail h3 {
  text-align: center; }

/* line 141, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#how-to-apply .circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 4px solid #0068b7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }
  /* line 152, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #how-to-apply .circle h3 {
    display: table-cell;
    width: 192px;
    height: 192px;
    text-align: center;
    vertical-align: middle;
    color: #0068b7;
    font-size: 18px;
    font-weight: bold; }
    /* line 161, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    #how-to-apply .circle h3 small {
      color: #0068b7;
      display: block;
      font-weight: normal; }
  /* line 168, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #how-to-apply .circle.inverse {
    background-color: #0068b7;
    border: 4px solid white; }
    /* line 172, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    #how-to-apply .circle.inverse h3 {
      color: white; }
/* line 178, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#how-to-apply .right-arrow {
  margin: 80px auto; }
