@charset "UTF-8";
/* line 11, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
html, body {
  font-family: Avenir, "Helvetica neue", "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  width: 100%;
  height: 100%; }

/* line 17, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
h1 > small {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px; }

/* line 23, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
h2 {
  margin-top: 60px;
  margin-bottom: 20px; }

/* line 28, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
h3 {
  color: #0068b7;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 20px; }

/* line 35, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
p {
  color: #666;
  font-size: 1.6rem;
  line-height: 3rem; }

/* line 41, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
header {
  background-image: url("../images/top.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  padding-top: 185px;
  margin-top: 75px;
  margin-bottom: 10px; }
  @media (max-width: 900px) {
    /* line 41, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    header {
      background-size: cover; } }
  @media (min-width: 901px) {
    /* line 41, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    header {
      background-size: contain; } }
  /* line 57, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  header h1 {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 10px 10px; }
  /* line 63, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  header .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 75px;
    border-top: 3px solid #0068b7;
    padding-top: 15px;
    padding-left: 22px; }

/* line 76, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
.row, .row-fluid {
  margin-bottom: 40px; }

/* line 80, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
.right-arrow {
  position: relative;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: #0068b7; }

/* line 88, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
.right-arrow:after {
  position: absolute;
  content: '';
  top: -8px;
  left: -32px;
  width: 16px;
  height: 16px;
  background: #0068b7; }

/* line 98, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#navigation {
  width: 100%;
  background-color: white;
  z-index: 900; }
  /* line 103, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #navigation a {
    color: #333; }
  /* line 107, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #navigation .navbar-default {
    background-color: white;
    border-bottom: 1px solid #ccc; }
  @media (min-width: 768px) {
    /* line 114, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    #navigation .nav-bar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: middle; }
    /* line 119, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    #navigation .nav-bar .navbar-collapse {
      text-align: center; } }

/* line 128, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#company-guide .col-lg-8, #company-guide .col-md-6 {
  z-index: -1; }

/* line 134, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#intern-program figure {
  position: relative;
  overflow: hidden; }
/* line 138, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#intern-program figcaption {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #0068b7;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 2rem;
  padding: 8px 16px;
  margin: 0;
  width: 100%;
  max-width: 480px;
  opacity: 0.9;
  filter: alpha(opacity=90); }
/* line 154, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#intern-program p {
  margin: 20px 0; }

/* line 160, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#detail h3 {
  text-align: center; }

/* line 166, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#how-to-apply .circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 4px solid #0068b7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }
  /* line 177, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #how-to-apply .circle h3 {
    display: table-cell;
    width: 192px;
    height: 192px;
    text-align: center;
    vertical-align: middle;
    color: #0068b7;
    font-size: 18px;
    font-weight: bold; }
    /* line 186, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    #how-to-apply .circle h3 small {
      color: #0068b7;
      display: block;
      font-weight: normal; }
  /* line 193, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
  #how-to-apply .circle.inverse {
    background-color: #0068b7;
    border: 4px solid white; }
    /* line 197, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
    #how-to-apply .circle.inverse h3 {
      color: white; }
/* line 203, /Users/hideki/repos/github.com/crowdworks/engineer-intern-site/source/stylesheets/all.css.scss */
#how-to-apply .right-arrow {
  margin: 80px auto; }
